version: "3.8"

services:
  app:
    container_name: attendance-web
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
      - REDIS_URL=redis://redis:6379
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - attendance_net

  redis:
    image: redis:alpine
    container_name: attendance-redis
    restart: always
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data
    networks:
      - attendance_net

networks:
  attendance_net:
    driver: bridge

volumes:
  redis_data:
